@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    left: 0;
    top: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #4D77FF;
}

.content-top {
    height: 100vh;
}

.contentHeader {
    display: flex;
    padding: 8% 8% 0 8%;
}

.contentLeft {
    flex-basis: 50%;
    margin-right: 10%;
}

.contentRight {
    flex-basis: 50%;
}

#input {
    padding: 14px 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 4px;
}

.inputCity {
    margin-top: 30px;
}

#btnGo {
    margin-left: 5px;
    padding: 14px 30px;
    font-family: 'Quicksand', sans-serif;
    background-color: #56BBF1;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
}

#btnGo:hover {
    background-color: #4D77FF;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    height: 350px;
    width: 350px;
    border-radius: 4px;
    cursor: pointer;
    padding: 30px;
    text-align: center;
    background: linear-gradient(45deg, #456be6, #527fff);
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    height: 350px;
    width: 350px;
    border-radius: 4px;
    cursor: pointer;
    padding: 30px;
    text-align: center;
    background: linear-gradient(45deg, #f3f4f7, #527fff);
}

.card>.name {
    text-transform: uppercase;
}

.card>.temp {
    font-size: 3em;
}

.card>.desc {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.card>.country {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

@media screen and (max-width: 425px) {
    body{
        background-color: #4D77FF;
    }
    .contentHeader {
        display: block;
        text-align: center;
        padding:  4% 5%;
    }
    .contentLeft{
        margin: auto;
    }
    .contentRight {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}